/* *{
    outline: 1px solid grey;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
    .container {
    /* font-family: "Roboto", sans-serif; */
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: column;
    background: url(images/IMAGE\ \(1\).png);
    width: 1183px;
    height: 783px;
    flex-shrink: 0;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: start; 
font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 11.667px;
text-transform: uppercase;
margin-top: 23px;
width: 100%;
list-style-type: none;
}

.header__nav-paints,.header__nav-samples,.header__nav-gallery,.header__nav-FAQ,.header__nav-calculator,.header__nav-log_in,.header__nav-cart,.header__nav-0{
    color: #FFF;
}

.about{        
    display: grid;
    grid-template-columns: 60% 12% 1fr;
    grid-template-rows: 60% 20% 1fr 1fr ;
    width: 100vw;
    height: 783px;
    position: relative;  
}

.h1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    color: #FFF;
font-family: Roboto;
font-size: 63px;
font-style: normal;
font-weight: 400;
line-height: 65.625px; /* 104.167% */
width: 410px;
margin-left: 42px;
margin-top: 126px;
}

.main__button-shop_our_colors{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:3;
    width: 200px;
    height: 37px;
    margin-left: 42px;
    gap: 36px;
flex-shrink: 0;
border-radius: 4.167px;
border: 1px solid #1F1E1E;
background: #1F1E1E;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 9.167px; /* 101.852% */
text-transform: uppercase;
}

.main__cookies{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:4;
}

.main__cookies-title{
    color: #3C3C3C;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.25px; 
    text-transform: uppercase;
    width: 286px;
}

.main__cookies-text{
    color: #3C3C3C;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.75px; /* 152.778% */
    text-transform: uppercase; 
    width: 286px;
    height: 55px; 
}

.main__cookies-button-manage{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end:5;
    color: #1F1E1E;
    align-self: center;
text-align: center;
font-family: Roboto;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
width: 37px;
height: 9px;
background-color: unset;
padding: 0;
border: none;
background: none;
}

.main__cookies-button-accept{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end:5;
    align-self: center;
    color: #1F1E1E;
text-align: center;
font-family: Roboto;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
width: 35px;
height: 9px;
background-color: unset;
padding: 0;
border: none;
background: none;
}

.advantage{
    display: flex;
    justify-content: space-around;
    margin-top: 59px;
}

.advantage__one,.advantage__two,.advantage__three,.advantage__four{
    display: flex;
    align-items: center;
    gap: 15px;
}

.advantage__one-number_1,.advantage__two-number_2,.advantage__two-number_3,.advantage__two-number_4{
    color: #3C3C3C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 152.778% */
}

.advantage__one-text,.advantage__two-text,.advantage__three-text,.advantage__four-text{
    color: #3C3C3C;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.75px; /* 152.778% */
    text-transform: uppercase;
}

.h2{
    color: #1F1E1E;
    text-align: center;
    font-family: Roboto;
    font-size: 125px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.25px; /* 105% */
margin-top: 40px;
}

.Drops__one-image_1_name,.Drops__two-image_2_name,.Drops__three-image_3_name,.Drops__four-image_4_name,.Drops__five-image_5_name,.Drops__six-image_6_name,.Drops__seven-image_7_name,.Drops__eight-image_8_name,.Drops__nine-image_9_name,.Drops__ten-image_10_name{
    color: #3C3C3C;
    text-align: center;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 9.167px; /* 101.852% */
    text-transform: uppercase;
    margin-top: 20px;
}

.Drops__one-image_1_price,.Drops__two-image_2_price,.Drops__three-image_3_price,.Drops__four-image_4_price,.Drops__five-image_5_price,.Drops__six-image_6_price,.Drops__seven-image_7_price,.Drops__eight-image_8_price,.Drops__nine-image_9_price,.Drops__ten-image_10_price{
    color: #3C3C3C;
    text-align: center;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.75px; /* 152.778% */
    text-transform: uppercase;
    margin-top: 9px;
}

.Drops{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:1fr 1fr 10%;
    grid-template-areas: 'Drops__one Drops__two Drops__three  Drops__four  Drops__five'
    'Drops__six  Drops__seven  Drops__eight  Drops__nine Drops__ten'; 
    margin-top: 76px;
}

.Drops__one,.Drops__two,.Drops__three,.Drops__four,.Drops__five,.Drops__six,.Drops__seven,.Drops__eight,.Drops__nine,.Drops__ten{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    align-items: center;
}

.New_drops__shop-all-colors{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
justify-self: center;
height: 37px;
width: 139px;
flex-shrink: 0;
border-radius: 4.167px;
border: 1px solid #1F1E1E;
background: #1F1E1E;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 9.167px;
text-transform: uppercase;
}

.our__mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.our__mission-h3{
    color: #3C3C3C;
text-align: center;
font-family: Roboto;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 13.75px; /* 152.778% */
text-transform: uppercase;
width: 65px;
padding-top: 100px;
}

.our__mission-text{
    color: #1F1E1E;
text-align: center;
font-family: Roboto;
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: 45.833px; /* 120.614% */
width: 681px;
padding-top: 16px;
}

.about__polutants{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 70% 1fr;
    padding-top: 146px;
}

.about__polutants_img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 546px;
}

.about__polutants_text{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    border-radius: 8.333px;
    background: #F4EDE6;
}

.about__polutants_main-text{
    color: #425E44;
    text-align: center;
    font-family: Roboto;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 58.333px; /* 112.179% */
    width: 439px;
    padding-top: 150px;
}

.about__polutants_secondary-text{
    color: #425E44;
    text-align: center;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.75px; /* 152.778% */
    text-transform: uppercase;
    padding-top: 157px;
}

.about__pallete{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
}

.about__pallete_h4{
    color: #1F1E1E;
    font-family: Roboto;
    font-size: 192px;
    font-style: normal;
    font-weight: 400;
    line-height: 201.25px; /* 104.818% */ 
    text-align: center;
    padding-bottom: 24px;
    
}

.about__pallete_text{
    color: #1F1E1E;
text-align: center;
font-family: Roboto;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.167px; /* 138.889% */
padding-bottom: 35px;
}

.about__pallete_button{
height: 37px;
width: 139px;
flex-shrink: 0;
border-radius: 4.167px;
border: 1px solid #1F1E1E;
background: #1F1E1E;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 9.167px;
text-transform: uppercase;
}
.try__our__sticker{
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    padding-top: 50px;
    gap: 8px;

}
.try__our__sticker_text{
    color: #1F1E1E;
text-align: center;
font-family: Roboto;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 108.696% */
width: 330px;
/* padding-top: 139px; */
}
.try__our__sticker_button{
    height: 37px;
    width: 139px;
    flex-shrink: 0;
    border-radius: 4.167px;
    border: 1px solid #1F1E1E;
    background: #1F1E1E;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 9.167px;
    text-transform: uppercase;
}
.try__our__sticker_main_path{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 546px;
    height: 546px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.try__our__sticker_img{
    width: 546px;
height: 546px;
flex-shrink: 0;
}
.put__some__colours__into__your__life{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 135px;
    gap: 8px;
}
.put__some__colours__into__your__life_image1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;  
}
.put__some__colours__into__your__life_image2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.put__some__colours__into__your__life_image3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.put__some__colours__into__your__life_image4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.put__some__colours__into__your__life_main_path{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 8.333px;
    background: #C6BC8A; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.put__some__colours__into__your__life_text1{
    color: #425E44;
text-align: center;
font-family: Roboto;
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 58.333px; /* 112.179% */
width: 414px;
padding-top: 120px;
}
.put__some__colours__into__your__life_text2{
    color: #425E44;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20.833px; /* 104.166% */
width: 121px;
}
.put__some__colours__into__your__life_text3{
    color: #425E44;
text-align: center;
font-family: Roboto;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 13.75px; /* 152.778% */
text-transform: uppercase;
width: 263px;
}
.put__some__colours__into__your__life_img_1,.put__some__colours__into__your__life_img_2,.put__some__colours__into__your__life_img_3,.put__some__colours__into__your__life_img_4{
    position: absolute;
    z-index: 1;
    margin: 60px 60px;
/* width:100px;
height:100px */
}
.sign__up{
    display: grid;
    grid-template-columns:70% 1fr 1fr 1fr;
    grid-template-rows: repeat(5 1fr);
    padding-top: 117px;
    padding-bottom: 65px;
}
.sign__up_text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #1F1E1E;
font-family: Roboto;
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: 45.833px; /* 120.614% */
margin-bottom: 8px;
}
.sign__up_shop{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4; 
    color: #3C3C3C;
font-family: Roboto;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 13.75px; /* 152.778% */
text-transform: uppercase;
/* width: 24px; */
display: flex;
flex-direction: column;
margin-bottom: 12px;
gap: 6px;
}
.sign__up_discover{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    color: #3C3C3C;
font-family: Roboto;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 13.75px; /* 152.778% */
text-transform: uppercase;
/* width: 47px;   */
display: flex;
flex-direction: column;
gap: 6px;
}
.sign__up_about{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4; 
    color: #3C3C3C;
font-family: Roboto;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 13.75px; /* 152.778% */
text-transform: uppercase; 
/* width: 30px; */
display: flex;
flex-direction: column;
gap: 6px;
}
.sign__up_input{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; 
}
.sign__up_input_text{
    border-radius: 4.167px;
    border: 1px solid #E0E0E0; 
    width: 267px;
    height: 37px;
    flex-shrink: 0; 
}
.sign__up_input_button{
width: 17px;
height: 18px;
flex-shrink: 0;
}
.sign__up_shop_Shop,.sign__up_discover_Discover,.sign__up_about_About{
    margin-bottom: 11px;
}